<!-- <div class="container d-flex flex-column h-100">
  <div class="row align-self-center">
    <img
      class="figure-img img-fluid border border-warning"
      src="/assets/logo/cerema.png"
    />
  </div>
  <div class="row align-self-center">
    <img
      class="figure-img img-fluid border border-warning"
      src="/assets/logo/scout_0.png"
    />
  </div>
  <div class="row align-self-center">
    <img
      class="figure-img img-fluid border border-warning"
      src="/assets/logo/RF.png"
    />
  </div>
</div> -->

<mat-card class="h-100 container d-flex flex-column justify-content-around align-items-center">

  <img mat-card-image
    class="C"
    src="/assets/logo/cerema.png"
  />
  <img mat-card-image
    class="scout"
    src="/assets/logo/scout_0.png"
  />
  <img mat-card-image
    class="RF"
    src="/assets/logo/RF.png"
  />
</mat-card>
