.dialog,form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around;
  align-items: center; */

}

mat-label {
  align-self: left;
}


form, mat-form-field, mat-card, mat-card-content, .buttonbis {
  width:90%;
  justify-content:center;
  align-items: center;
}
mat-card-content{
  padding: 5px;
  background-color: #0000000A;
  margin-bottom: 20px;
  
}

mat-label{
  font-size: 1.5em;
}
h1 {
  text-align: center;
}

button{
  background-color: var(--teal);
}
.example-spacer {
  flex: 1 1 auto;
}  

/* .navbar{
  background-color: var(--teal);
} */

.ok{
color : white;
}

.ko{
  color: red;
}