<app-nav-bar></app-nav-bar>

<mat-card class="h-100 container d-flex flex-column justify-content-around align-items-center">

  
    <img mat-card-image class="w-25 h-25" src="/assets/logo/scout_0.png" />
    <mat-card-title>Système de Collecte Universel de Terrain</mat-card-title>
  

  
    <p>Visualisez et éditez vos visites: <br>
      téléchargez l'éditeur de visites !</p>
  

  <mat-card-subtitle style="color:teal">
    <a href="https://www.cerema.fr/scout">https://www.cerema.fr/scout</a>
  </mat-card-subtitle> 
  
    <p>Partagez votre expérience <br>
    signalez un dysfonctionnement : <br>
  contactez-nous
    </p>
  
  
    <p style="color:teal"><a href="scout@cerema.fr">scout@cerema.fr</a></p>
  
  
    <img mat-card-image class="c" src="/assets/logo/cerema.png" />
  

</mat-card>