
    <!-- affichage de camera -->
    <div *ngIf='data.index===null'>
        <div><video #video id="video" style="width:100%; height:100%" autoplay></video></div>
        <div class="button d-flex justify-content-between">
        <i class="material-icons md-48" (click)="retour()">cancel</i>
        <span class="example-spacer"></span>
        <i class="material-icons md-48" (click)="capture()">check_circle</i>
        </div>
        
        <!-- affichage de capture photo -->
        <canvas #canvas id="canvas"  width='{{resol[0]}}' height='{{resol[1]}}' ></canvas> 
    </div>
    <!-- affichage d'un photo -->
    <div class="image" *ngIf='data.index!==null'>
        <img  style="width:100%; height:100%" src="{{ photo.base64data }}" />
        
        <div class="button d-flex justify-content-between">
            <i class="material-icons md-24" (click)="retour()">cancel</i>
            <span class="example-spacer"></span>
            <i class="material-icons md-24" (click)="delete()">delete</i>   
        </div>
        
    </div>

