




#video {
  background-color: #000000;
}
#canvas {
  display: none;
  width: 100%;
  height:100%;
}
 .image{
  width:100%; 
  height:100%;
 }

.button{
  margin-top: 5px;
  width:100%;
 
}

.example-spacer {
  flex: 1 1 auto;
}  


